// font
$font-family-primary: 'Inter', sans-serif;
$font-size-base: 2rem;
$font-size-nav: 2rem;

// colors
$orange: #f17742;
$white: #ffffff;
$gray: #9d9d9d;
$gray-medium: #696969;
$dark-navy: #000004;

// sizes
$background-image-width: -800px; // needed for a looped background animation, change it if image size changes
$nav-width: 300px;

// spacings
$base-padding: 30px;
$section-top-bottom-padding: 100px;
$section-left-right-padding: 70px;

// breakpoints
$breakpoint-sm-down: 480px;
$breakpoint-sm-up: 481px;
$breakpoint-md-down: 768px;
$breakpoint-md-up: 769px;
$breakpoint-lg-down: 1024px;
$breakpoint-lg-up: 1025px;
$breakpoint-xl-down: 1200px;
$breakpoint-xl-up: 1201px;
