// font
$font-family-primary: 'Inter', sans-serif;
$font-size-base: 2rem;
$font-size-nav: 2rem;

// colors
$orange: #f17742;
$white: #ffffff;
$gray: #9d9d9d;
$gray-medium: #696969;
$dark-navy: #000004;

// sizes
$background-image-width: -800px; // needed for a looped background animation, change it if image size changes
$nav-width: 300px;

// spacings
$base-padding: 30px;
$section-top-bottom-padding: 100px;
$section-left-right-padding: 70px;