// colors
$orange: #f17742;
$white: #ffffff;
$gray: #9d9d9d;
$gray-medium: #696969;
$dark-navy: #000004;

// section colors
$section-green-black: #00140c;
$section-purple: #170013;
$section-green: #0c1d00;
$section-red: #190500;
$section-green-dark: #001207;
$section-black: #000000;

// sizes
$background-image-width: -800px; // needed for a looped background animation, change it if image size changes