.poodl-carousel {
  position: relative;
  max-width: 1050px;
  margin: 30px auto 50px;

  .swiper {
    width: 900px;
  }

  .nft-slide {
    > a {
      background: $gradient-background;
      padding: 5px 5px 0 5px;
      display: block;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    &:after {
      color: $orange;
    }
  }

  .swiper-button-next {
    right: 0;
  }
}