.poodl-roadmap {
  width: 100%;
  min-height: 600px;
  background-image: url('/assets/images/graphics/roadmap.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 80%;
  position: relative;

  .roadmap-list {
    max-width: 300px;
    list-style: none;
    position: absolute;
    padding: 0;
    
    li {
      margin-bottom: 5px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border: 1px solid $white;
        border-radius: 50%;
        left: -20px;
        top: 7px;
      }

      &.checked {
        &:before {
          border: none;
          width: 20px;
          height: 25px;
          border-radius: 0;
          background-image: url('/assets/images/icons/checkmark.png');
          top: -5px;
          left: -30px;
        }
      }
    }

    &.first {
      left: 9%;
      bottom: 130px;
    }

    &.second {
      left: 38%;
      bottom: 210px;
    }

    &.third {
      left: 63%;
      bottom: 350px;
    }
  }
}