.poodl-footer {
    padding-left: 315px;

    .footer-inner {
        background-color: $dark-navy;
        padding: 30px 50px;
    }

    h3 {
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 8px;
    }

    a {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    .social-media {
        display: flex;
        align-items: center;
        margin-top: 35px;

        a {
            margin-right: 15px;
        }
    }

    .copyright {
        margin-top: 17px;
        font-size: 1.2rem;
    }
}