.poodl-footer {
    @media all and (min-width: $breakpoint-lg-up) {
        padding-left: 315px;
    }

    .footer-inner {
        background-color: $dark-navy;
        padding: 30px 50px;
    }

    h3 {
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 8px;
    }

    a {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    .footer-links {
        @media all and (max-width: $breakpoint-md-down) {
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }

    .social-media {
        display: flex;
        align-items: center;
        margin-top: 35px;
        justify-content: center;
        flex-wrap: wrap;

        @media all and (max-width: $breakpoint-md-down) {
            gap: 5px;
        }

        a {
            margin-right: 15px;
        }
    }

    .copyright {
        margin-top: 17px;
        font-size: 1.2rem;

        @media all and (max-width: $breakpoint-lg-down) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}