.navigation-container {
    background-color: $dark-navy;
    width: $nav-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 6px;
    z-index: 10;
    transition: left .2s ease-in-out;

    &:before,
    &:after {
        display: block;
        width: 3px;
        height: 100%;
        background-color: $dark-navy;
        content: '';
        position: absolute;
        top: 0;
    }

    &:before {
        left: -6px;
    }

    &:after {
        left: calc(100% + 3px);
    }

    &.disabled {
        left: -100%;

        .navigation-mobile {
            background-color: $dark-navy;

            div {
                opacity: 1;
            }
        }
    }
}

.navigation-inner {
    display: flex;
    flex-direction: column;
    padding: $base-padding 0;
    justify-content: center;
    align-items: center;

    .logo {
        max-width: 130px;
    }
}

.nav-wrapper {
    color: $gray-medium;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    strong {
        font-weight: 800;
    }

    sup {
        font-size: 0.8rem;
        top: -10px;
    }

    a {
        width: 100%;
        padding: 5px $base-padding;
        position: relative;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:before,
        &:after {
            content: '';
            height: 20px;
            position: absolute;
            width: 3px;
            background-color: transparent;
            transition: background-color .2s ease-in-out;
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }

        &.active,
        &:hover {
            color: $white;

            &:first-child {
                color: $white;
            }
    
            &:before,
            &:after {
                background-color: $orange;
            }
        }
    }

    .nav-separator {
        width: calc(100% - 80px);
        padding: 1px 0;
        background-color: $gray-medium;
        margin: 40px auto;
    }
}

.navigation-mobile {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px 0;
    display: flex;
    background-color: transparent;
    transition: background-color .2s ease-in-out;

    @media all and (min-width: $breakpoint-xl-up) {
        display: none;
    }

    div {
        display: flex;
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 2.6rem;
        margin-bottom: 5px;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
}